<md-toolbar>
  <h2 class="toolbar-heading md-toolbar-tools">Change Password</h2>
</md-toolbar>
<div layout="column" layout-margin layout-align="center center">
  <div ng-if="user.currentUser.provider !== 'password'" layout="row" layout-padding layout-align="center center" class="userForm md-whiteframe-z1">
    <p>You are logged in using {{user.currentUser.provider}}</p>
    <md-button class="md-primary" ng-click="user.logout()">Log Out</md-button>
  </div>

  <div ng-if="user.currentUser.provider === 'password'" layout="column" layout-padding class="userForm md-whiteframe-z1">
    <form name="user.loginForm" novalidate>
      <md-input-container class="md-block">
        <label>Current Password</label>
        <input
          ng-model="user.credentials.password"
          name="password"
          type="password"
          required/>
        <div ng-messages="user.loginForm.password.$error">
          <div ng-message-exp="['required']">
            Current Password is required.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>New Password</label>
        <input
          ng-model="user.credentials.newPassword"
          name="newPassword"
          type="password"
          ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$/"
          required/>
        <div ng-messages="user.loginForm.newPassword.$error">
          <div ng-message-exp="['required','pattern']">
            Passwords must be 8 or more characters long, and contain at least 1 uppercase and 1 number.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Confirm Password</label>
        <input
          ng-model="user.credentials.confirmNewPassword"
          name="confirmNewPassword"
          type="password"
          compare-to="user.credentials.newPassword"
          required/>
        <div ng-messages="user.loginForm.confirmNewPassword.$error">
          <div ng-message-exp="['required','compareTo']">
            Required and must match the New Password field.
          </div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="end center">
        <md-button type="submit" class="md-raised md-primary" ng-click="user.changePassword()">Submit</md-button>
      </div>
    </form>
  </div>
</div>
