<md-toolbar>
  <h2 class="md-toolbar-tools"><span>Login</span></h2>
</md-toolbar>
<div layout="column" layout-margin layout-align="center center">
  <div ng-if="user.currentUser" layout="row" layout-padding layout-align="center center" class="userForm md-whiteframe-z1">
    <p>Already logged in as: {{user.currentUser.name}}</p>
    <md-button class="md-primary" ng-click="user.logout()">Log Out</md-button>
  </div>

  <div ng-if="!user.currentUser" layout="column" layout-padding class="userForm md-whiteframe-z1">
    <form name="user.loginForm" novalidate>
      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="email" ng-model="user.credentials.email"
             minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="user.loginForm.email.$error">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Please enter a valid email address.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input
          ng-model="user.credentials.password"
          name="password"
          type="password"
          required/>
        <div ng-messages="user.loginForm.password.$error">
          <div ng-message-exp="['required']">
            Please enter your password.
          </div>
        </div>
      </md-input-container>

      <div layout="column" layout-gt-sm="row" layout-align="center center">
        <div>
          <p>Don't have an account yet? <a data-ui-sref="signup">Sign up here</a></p>
        </div>
        <div flex></div>
        <div layout="row">
          <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
          <md-button type="submit" ng-click="user.login()" class="md-raised md-primary">Login</md-button>
        </div>
      </div>
    </form>
  </div>

  <div ng-if="!user.currentUser" class="userForm md-whiteframe-z1" layout="column" layout-align="start center">
    <p>Or, use your Facebook account</p>
    <div flex></div>
    <md-button type="button" class="md-fab md-mini md-primary" data-ng-click="user.facebookLogin()" aria-label="Facebook Sign In">
      <ng-md-icon icon="facebook"></ng-md-icon>
    </md-button>
  </div>
</div>
