<md-toolbar layout="row">
  <div class="menu-spacer"></div>
  <h2 class="md-toolbar-tools"><span>Sign Up</span></h2>
</md-toolbar>
<div layout="column" layout-margin layout-align="center center">
  <div ng-if="user.currentUser" layout="row" layout-padding layout-align="center center" class="userForm md-whiteframe-z1">
    <p>Already logged in as: {{user.currentUser.name}}</p>
    <md-button class="md-primary" ng-click="user.logout()">Log Out</md-button>
  </div>

  <div ng-if="!user.currentUser" layout="column" layout-padding class="userForm md-whiteframe-z1">
    <form name="user.loginForm" novalidate>
      <md-input-container class="md-block">
        <label>Name</label>
        <input required type="name" name="name" ng-model="user.credentials.name"
             minlength="2" maxlength="100"/>
        <div ng-messages="user.loginForm.name.$error">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Name is a required field.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="email" ng-model="user.credentials.email"
             minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="user.loginForm.email.$error">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Please enter a valid email address.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input
          ng-model="user.credentials.password"
          name="password"
          type="password"
          ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$/"
          required/>
        <div ng-messages="user.loginForm.password.$error">
          <div ng-message-exp="['required','pattern']">
            Password must be 8 or more characters long, and contain at least 1 uppercase and 1 number.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Confirm Password</label>
        <input
          ng-model="user.credentials.confirmPassword"
          name="confirmPassword"
          type="password"
          compare-to="user.credentials.password"
          required/>
        <div ng-messages="user.loginForm.confirmPassword.$error">
          <div ng-message-exp="['required','compareTo']">
            Required and must match the Password field.
          </div>
        </div>
      </md-input-container>

      <div layout="column" layout-gt-sm="row" layout-align="center center">
        <div>
          <p>Already have an account? <a data-ui-sref="login">Login here</a></p>
        </div>
        <div flex></div>
        <md-button type="submit" ng-click="user.signUp()" class="md-raised md-primary">Sign Up</md-button>
      </div>
    </form>
  </div>

  <ng-include src="'user/views/social-login.tpl.html'"></ng-include>
</div>
