<section class="title-row">
  <div class="fill-screen" style="background-image: url(images/pushups.jpg)" resize>
    <div layout="column" flex="85" flex-gt-sm="67" class="title-block">
      <h1 class="title md-display-3" ><ng-md-icon class="logo-wht" icon="trending_up" size="56"></ng-md-icon> TrackMyTries</h1>
      <p class="md-title">Record each of your "Tries" on the PRT (Physical Readiness Test) to track your fitness</p>
      <!-- <p class="md-title">
        Track <em>anything</em> you want by creating your own categories, too!
      </p> -->
      <div layout="row" layout-margin>
        <span flex></span>
        <div layout ng-if="!home.currentUser">
          <md-button data-ui-sref='signup'>Sign Up</md-button>
          <md-button class="md-raised md-primary" data-ui-sref='login'>Log In</md-button>
        </div>
        <div layout ng-if="home.currentUser">
          <md-button ng-click="home.logout()">Log Out</md-button>
          <md-button class="md-raised md-primary" data-ui-sref="dashboard">View Dashboard</md-button>
        </div>
      </div>
    </div>
    <div class="down-button">
        <md-button scroll-to="categories" aria-label="Scroll Down">
          <ng-md-icon icon="keyboard_arrow_down" size="56"></ng-md-icon>
        </md-button>
    </div>
  </div>
</section>

<section id="categories" class="content-section" layout="column">
  <div layout="row">
    <ng-md-icon class="logo-blk" icon="trending_up" size="44"></ng-md-icon>
  </div>
  <div layout="row" layout-xs="column">
    <div layout="column" layout-align="start center" layout-padding flex>
      <div>
        <h2>
          Physical Readiness Test
        </h2>
      </div>
      <div>
        <p>
          4 built-in categories for tracking your PRT exercises:
        </p>
      </div>
      <div layout="row">
        <div layout="row" layout-sm="column" layout-align-sm="center start">
          <div>
            <ng-md-icon icon="check_box"></ng-md-icon> Push Ups
          </div>
          <div>
            <ng-md-icon icon="check_box"></ng-md-icon> Sit Ups
          </div>
        </div>
        <div layout="row" layout-sm="column" layout-align-sm="center start">
          <div>
            <ng-md-icon icon="check_box"></ng-md-icon> Pull Ups
          </div>
          <div>
            <ng-md-icon icon="check_box"></ng-md-icon> 1.5 Mile Run
          </div>
        </div>
      </div>
    </div>
    <div layout="column" layout-align="start center" layout-padding flex>
      <div>
        <h2>
          Other (Planned) Features
        </h2>
      </div>
      <div>
        <p>
          <ng-md-icon icon="check_box_outline_blank"></ng-md-icon> Set a personal goal for each category
        </p>
        <p>
          <ng-md-icon icon="check_box_outline_blank"></ng-md-icon> See how you compare to US Navy PRT guidelines
        </p>
        <p>
          <ng-md-icon icon="check_box_outline_blank"></ng-md-icon> Add your own categories
        </p>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="fill-screen fixed-attachment" style="background-image: url(images/pullups-crop.jpg)" resize></div>
</section>

<section layout="column" layout-gt-xs="row" id="chart" class="content-section">
  <div layout="column" layout-align="center center" layout-padding flex-gt-xs="40">
    <h2>Visualize Your Progress</h2>
    <p>Record all of your tries to chart your results. Set a goal for each category and see where you stand.</p>
  </div>
  <div flex-gt-xs="60">
    <highchart id="demoChart" config="home.chartConfig"></highchart>
  </div>
</section>

<section>
  <div class="fill-screen fixed-attachment" style="background-image: url(images/situps2-crop.jpg)" resize></div>
</section>

<section id="stats" class="content-section" layout="row" layout-xs="column">
  <div layout="column" layout-align="center center" layout-padding flex-gt-xs="50">
    <h2 class="featurette-heading">Track Your Stats</h2>
    <p class="lead">Always know where you stand with quick access to your stats in each category on the Dashboard</p>
  </div>

  <div layout="column" layout-align="center center" flex-gt-xs="50">
    <md-card class="cat-card">
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Push Ups</span>
          <span class="md-subhead">Number of push ups completed in 2 minutes</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <div class="stats-row" layout="row" layout-align="start center">
          <div flex="40"><strong>Best Try:</strong></div>
          <div flex="25">
            <strong>66</strong>
          </div>
          <div flex="35"><strong>04-12-2016</strong></div>
        </div>
        <div class="stats-row" layout="row" layout-align="start center">
          <div flex="40">Latest Try:</div>
          <div flex="25">64</div>
          <div flex="35">04-28-2016</div>
        </div>
        <div class="stats-row" layout="row" layout-align="start center">
          <div flex="40">First Try:</div>
          <div flex="25">20</div>
          <div flex="35">08-04-2013</div>
        </div>
        <div class="stats-row goal-met" layout layout-align="start center">
          <div flex="40">Current Goal: </div>
          <div flex="20">65</div>
        </div>
        <div class="stats-row" layout layout-align="start center">
          <div flex="40">Total Tries:</div>
          <div flex="25">17</div>
          <md-button class="md-icon-button" aria-label="Dummy Button">
            <ng-md-icon icon="add"></ng-md-icon>
          </md-button>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <md-button>
          <ng-md-icon icon="trending_up"></ng-md-icon> View History
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</section>

<section>
    <div class="fill-screen fixed-attachment" style="background-image: url(images/running2.jpg)" resize></div>
</section>

<section id="about" class="content-section" layout="column" layout-align="center center" layout-padding>
  <h1>About</h1>
  <div>
    <p>
      I am a software developer from Richmond VA, and a member of <a href="http://sealteampt.com" target="_blank">SEAL Team Physical Training</a>.
      TrackMyTries is an application for tracking progress on the PRT and other fitness activities.
    </p>
    <p>
      The application is written in JavaScript using AngularJS and Angular Material. The backend is Firebase,
      the awesome backend-as-a-service from Google. The project's code is <a href="https://github.com/brianGammon" target="_blank">available on Github</a>.
    </p>
  </div>
  <div class="about-tech" layout="row">
    <div flex="33" layout="column" layout-align="center center">
      <a href="https://angularjs.org" target="_blank"><img src="/images/angular-logo.jpg" alt="AngularJS"></a>
      <h4>AngularJS</h4>
    </div>
    <div flex="33" layout="column" layout-align="center center">
      <a href="https://nodejs.org" target="_blank"><img src="/images/nodejs.png" alt="Node.js"></a>
      <h4>Node.js</h4>
    </div>
    <div flex="33" layout="column" layout-align="center center">
      <a href="http://firebase.com" target="_blank"><img src="/images/firebase1.png" alt="Firebase"></a>
      <h4>Firebase</h4>
    </div>
  </div>
</section>

<section>
    <div class="fill-screen fixed-attachment" style="background-image: url(images/pushups2.jpg)" resize>
    </div>
</section>

<section id="sign-up-banner" ng-if="!home.currentUser" class="content-section" layout="column" layout-align="center center" flex>
    <h2>Sign Up Now</h2>
    <p>Sign up now for free, and start tracking your "tries" today!</p>
    <md-button class="md-raised md-primary" data-ui-sref='signup'>Sign Up</md-button>
</section>
