.fill-screen {
    background-size: cover;
    background-position: center;
}

.title-row {
    position: relative;
    min-height: 300px;
}

.md-button.titlebar {
  margin: 0 8px;
}

.title-row .title-block {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
}

.logo-wht {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  margin: 5px;
}

.logo-blk {
  border-left: 4px solid black;
  border-bottom: 4px solid black;
}

@media (max-width: 959px){
  .title-block h1 {
    font-size: 40px;
  }

  .title-block p {
    font-size: 16px;
  }
}

@media (max-width: 500px){
  .title-block h1 {
    text-align: center;
  }
}

.title {
  margin: 20px 0;
  font-weight: 700;
}

p.md-title {
  margin: 8px 0;
}

.down-button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
@media (max-height: 350px){
  .down-button {
    bottom: -10px;
  }
}

.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px){
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.content-section {
  background-color: white;
  padding: 10px;
}

.content-section h2, p {
  margin: 8px 0;
}

.about-tech {
  width: 100%;
}

.about-tech img {
  height: 75px;
}
