/* Category Detail Page */
.chart {
  margin: 8px;
}

.chart md-content {
  min-height: 320px;
}

.no-chart-data {
  min-height: 320px;
  background-size: cover;
  background-position: center center;
}

.items {
  background-color: white;
}

/* Category Stats Card Directive */
.cat-card {
  min-height: 320px;
}

.cat-card md-card-header {
  background-color: #2196F3;
  height: 60px;
}

.cat-card md-card-content {
  padding: 0;
  min-height: 124px;
}

.cat-card md-card-header-text, .cat-card .md-subhead {
  color: white;
}

.large-size {
  font-size: 150%;
}

.goal-unmet {
  background-color: rgba(255, 64, 129, 1);
}

.goal-met {
  /*background-color: rgba(76, 175, 80, 1);*/
  background-color: rgba(34,139,34,.5);
}

.notries {
  height: 144px;
  padding: 20px;
}

.stats-row {
  padding: 0 16px;
  min-height: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.total-tries {
  border-bottom: 0;
}

.goal-edit {
  margin: 0;
  height: 30px;
}

.md-icon-button.new-try {
  width: 45px;
  height: 45px;
}

.md-icon-button.new-try > ng-md-icon {
  fill: white;
}

.card-header {
  width: 100%
}

/* PRT Standards*/
.prt-standards {
  min-width: 300px;
  max-width: 315px;
}

.no-bottom-pad {
  padding-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

.level.failure {
  /*background-color: crimson;*/
  background-color: rgba(255,0,0,.5);
}

.level.satisfactory {
  /*background-color: orange;*/
  background-color: rgba(255,165,0,.5);
}

.level.good {
  /*background-color: yellow;*/
  background-color: rgba(255,255,0,.5);
}

.level.excellent {
  /*background-color: forestgreen;*/
  background-color: rgba(34,139,34,.5);
}

.level.outstanding {
  /*background-color: royalblue;*/
  background-color: rgba(65,105,225,.5);
}

.level.maximum {
  /*background-color: darkorchid;*/
  background-color: rgba(153,50,204,.5);
}

.level.unknown {
  background-color: lightgrey;
}
