<md-dialog class="item-dialog" aria-label="Item Editor"  ng-cloak>
  <form name="dialog.form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{dialog.category.name}} Try</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        {{dialog.errorMessage}}
        <!-- <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> -->
        <md-input-container class="md-block">
          <label>Date</label>
          <input required type="date" name="date" ng-model="dialog.item.itemDateTime"/>

          <div ng-messages="dialog.form.date.$error">
            <div ng-message-exp="['required', 'date']">
              Must be a date
            </div>
          </div>
        </md-input-container>

        <div layout="row" class="timepicker" ng-if="dialog.category.valueType === 'duration'">
          <md-input-container style="margin-right: 10px;">
            <label>Hours</label>
            <md-select ng-model="dialog.hours">
              <md-option ng-repeat="h in dialog.getNumberList(24) track by $index" value="{{$index}}">
                {{$index | padDigits}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin-right: 10px;">
            <label>Mins</label>
            <md-select ng-model="dialog.mins">
              <md-option ng-repeat="m in dialog.getNumberList(60) track by $index" value="{{$index}}">
                {{$index | padDigits}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin-right: 10px;">
            <label>Secs</label>
            <md-select ng-model="dialog.secs">
              <md-option ng-repeat="s in dialog.getNumberList(60) track by $index" value="{{$index}}">
                {{$index | padDigits}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <md-input-container class="md-block" ng-if="dialog.category.valueType === 'count'">
          <label>Count</label>
          <input required type="number" name="count" ng-model="dialog.item.valueNumber"
               min="0"/>

          <div ng-messages="dialog.form.count.$error">
            <div ng-message-exp="['required', 'min', 'number']">
              Must be a number greater then zero.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Notes</label>
          <textarea md-maxlength="500" name="note" rows="5" ng-model="dialog.item.notes"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="submit" ng-click="dialog.save()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
