html, body {
  font-family: 'Roboto', sans-serif;
  background: #E0E0E0;
}

.menu-spacer {
  width: 50px;
}

.body-wrapper {
  height: 100%;
}

.body-wrapper md-list-item {
  height: 40px;
}

.body-wrapper md-list-item.md-2-line {
  min-height: 50px;
  height: 50px;
}

/* Workaround - iOS dialog issue */
/* https://github.com/angular/material/issues/3079 */
.md-dialog-container{
  position: fixed;
  top: 0 !important;
  height: 100%;
}
.md-dialog-container md-dialog{
  max-height: 100%;
}
/* End workaround - iOS dialog issue*/

ng-md-icon {
  height: auto;
  width: auto;
}

#menu-button {
  position: fixed;
  margin: 0;
  left: 16px;
  top: 11px;
}
@media (max-width: 959px) {
  #menu-button {
    top: 3px;
  }
}
@media (max-width: 679px) {
  #menu-button {
    top: 7px;
  }
}

md-content.main {
  background: #E0E0E0;
}

md-toast.md-success-toast-theme .md-toast-content {
  background-color: rgba(0, 128, 0, 1);
}

md-toast.md-error-toast-theme .md-toast-content {
  background-color: rgba(255, 0, 0, 1);
}

a.sidenav-logo {
  text-decoration: none;
  color: white;

}
